body {
  margin: 0;
  padding: 0;
}

.nav-bar {

}

.nav-bar ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar ul li a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
